@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@500&display=swap');


.house-icon-container {
  position: relative;
  padding: 0;
  margin-top: -5px;
  margin-left: -40px;
  margin-left: -40px;
  height: 5px;
  z-index: 999;
}

.house-icon {
  color: red;
  font-size: 40px;
  font-weight: bold;
  z-index: 999;
}


.more-info-button {
  background-color: #fed017;
  border-radius: 5px;
  color: #34410d;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 5rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.more-info-button:hover {
  cursor: pointer;
  background-color: #e5bd00; /* Slightly darker yellow */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow */
}


