.edit-button {
    background-color: #fed017;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.back-to-display-button {
    background-color: #c1d604;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.edit-button:hover {
  background-color: #e5bd00; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .back-to-display-button:hover {
    background-color: #a2b403;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
  }

  .save-edited-data {
    background-color: #fed017;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
  }

  .save-edited-data:hover {
    background-color: #9ba25c;
    cursor: pointer;
  }