.edit-button {
    background-color: #fed017;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
}

.back-to-display-button {
    background-color: #c1d604;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
}

.edit-button:hover {
    background-color: #9ba25c;
    cursor: pointer;
  }

  .back-to-display-button:hover {
    background-color: #9ba25c;
    cursor: pointer;
  }

  .save-edited-data {
    background-color: #fed017;
    color: #34410d;
    font-weight: bold;
    border: none;
    height: 2rem;
    width: 6rem;
  }

  .save-edited-data:hover {
    background-color: #9ba25c;
    cursor: pointer;
  }