@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@500&display=swap');

.centered-td {
  padding-left: 30px;
}

.more-info-button {
  background-color: #fed017;
  color: #34410d;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 5rem;
}

.more-info-button:hover {
  /* background-color: #9ba25c; */
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.pagination-button {
  background-color: #fed017;
  color: #444;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  height: 28px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #6f747a;
}

.current-page {
  margin: 0 10px;
  font-size: 14px;
  color: #5d5d5d;
  background-color: #f1f1f1;
  border: 1px solid #e3e2e2;
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}