@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Slab:wght@500&display=swap');
.house-icon-container {
  position: relative;
  padding: 0;
  margin-top: -5px;
  margin-left: -40px;
  margin-left: -40px;
  height: 5px;
  z-index: 999;
}

.house-icon {
  color: red;
  font-size: 40px;
  font-weight: bold;
  z-index: 999;
}

.expanded-row {
  display: table-row;
}

.expanded-content {
  display: block;
  padding: 10px;
  background-color: #f9f9f9;
}

.display-properties-table {
  width: 100%;
  border-spacing: 0 10px;
  table-layout: fixed;
}

.display-properties-table th {
  border-bottom: 1px solid #ddd;

}

.display-properties-table th,td {
  text-align: left;
  padding: 8px;
  padding-left: 50px;
}


.display-properties-table tbody tr {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60px;
}


.centered-td {
  padding-left: 45px;
}

.more-info-button {
  background-color: #fed017;
  border-radius: 5px;
  color: #34410d;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 5rem;
}

.more-info-button:hover {
  /* background-color: #9ba25c; */
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.pagination-button {
  background-color: #fed017;
  color: #444;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  height: 28px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #6f747a;
}

.current-page {
  margin: 0 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #5d5d5d;
  border: 1px solid #e3e2e2;
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}