/* DisplayProperties.css */

.App-display {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 2em;
  margin: 21.44px;
  margin-left: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

.centered-td {
  padding-left: 30px;
}

.more-info-button {
background-color: #fed017;
color: #34410d;
font-weight: bold;
border: none;
height: 2rem;
width: 5rem;
}

.more-info-button:hover {
  /* background-color: #9ba25c; */
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  min-height: 46px;
}


label {
  font-weight: 600;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

p {
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
}

.pagination-button {
  background-color: #fed017;
  color: #444;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  /* border-radius: 4px; */
  font-size: 21px;
  font-weight: bold;
  height: 28px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #6f747a;
}

.current-page {
  margin: 0 10px;
  font-size: 14px;
  color: #5d5d5d;
  background-color: #f1f1f1;
  border: 1px solid #e3e2e2;
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}