.required-field-container {
  position: relative;
  padding: 0;
  margin-top: -15px;
  margin-left: -20px;
  height: 10px;
  z-index: 999;
}


.required-field {
  color: red;
  font-size: 40px;
  font-weight: bold;
  z-index: 999;
}

.button-container {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.submit-button {
  /* padding: 12px; */
  background-color: #fed017;
  color: #34410d;
  font-weight: bold;
  border: none;
  height: 2rem;
  width: 6rem;
}

.submit-button:hover {
  background-color: #9ba25c;
  cursor: pointer;
}

.error-message {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0);
  color: rgb(240, 60, 60);
  font-size: 25px;
  padding: 10px;
  z-index: 1000;
}