.details-form-wrapper {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 3rem;
}


.view-property-table th,
.view-property-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.view-property-table tr {
  height: 50px;
}


.view-property-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
} 

.data-button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
}